/* Config */
$part-color: #73a4ff;
$part-size: 4px;
$part-border: rgba(11, 21, 168, 0.596);
$time: 15s;

/* Seen on CodePen */
@function genPart($max) {
    $v: 0px 0px $part-color;
    @for $i from 1 through $max {
        $v: #{$v},
        random(2560) + px random(2560) + px $part-color;
    }
    @return $v;
}

@mixin genPart($max) {
    box-shadow: genPart($max);
}

.particle, .particle:after {
    position: absolute;
    background: transparent;
    width: $part-size;
    height: $part-size;
    border-radius: 50%;
    opacity: 0;
    animation: movePart 60s linear infinite;
    @include genPart(60);
    z-index: 2;
}

.particle:after {
    @include genPart(60);
    position: absolute;
    content: "";
    top: 2560px;
}

@keyframes movePart {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000);
    }
}